:root {
    --dark: rgb(23, 17, 40);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

body {
    /* background-color: rgb(15, 4, 38);   */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.objects {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.objects .sun {
    width: 12rem;
    position: absolute;
    height: 4.75em;
    width: 4.75rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.objects .sun img {
    width: 4rem;
    height: auto;
    animation: sun-rotation 10000ms linear infinite;
    z-index: 2;
}


.objects:not(.sun) img{
    z-index: 1;
}

.objects .mercury {
    position: absolute;
    height: 12vh;
    width: 12vh;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.objects .mercury img {
    width: 0.6rem;
    height: auto;
    animation: mercury-orbit 5000ms linear infinite;
}

.objects .venus {
    position: absolute;
    height: 16vh;
    width: 16vh;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.objects .venus img {
    width: 0.6rem;
    height: auto;
    animation: venus-orbit 12750ms linear infinite;
}

.objects .earth {
    position: absolute;
    height: 20vh; /* Adjusted from a fixed px to vh */
    width: 20vh; /* Maintain aspect ratio */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.objects .earth img {
    width: 0.6rem;
    height: auto;
    animation: earth-orbit 20700ms linear infinite;
}

.objects .mars {
    position: absolute;
    height: 25vh;
    width: 25vh;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.objects .mars img {
    width: 0.6rem;
    height: auto;
    animation: mars-orbit 39000ms linear infinite;
}

.objects .jupiter {
    position: absolute;
    height: 45vh;
    width: 45vh;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.objects .jupiter img {
    width: 2.6rem;
    height: auto;
    animation: jupiter-orbit 69000ms linear infinite;
}

.objects .saturn {
    position: absolute;
    height: 63vh;
    width: 63vh;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.objects .saturn img {
    width: 4.5rem;
    height: auto;
    animation: saturn-orbit 90000ms linear infinite;
}

.objects .uranus {
    position: absolute;
    height: 80.5vh;
    width: 80.5vh;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.objects .uranus img {
    width: 0.95rem;
    height: auto;
    animation: uranus-orbit 110000ms linear infinite;
}

.objects .neptune {
    position: absolute;
    height: 95.5vh;
    width: 95.5vh;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.objects .neptune img {
    width: 0.9rem;
    height: auto;
    animation: neptune-orbit 125000ms linear infinite;
}

.objects .belt {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14.5rem;
    width: 14.5rem;
    border-radius: 100%;
}

.objects .belt img {
    height: 18rem;
    width: auto;
    animation: belt-rotation 35000ms linear infinite;
}

.objects span:not(.belt) img {
    cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
}




@keyframes neptune-orbit {
    0% {
        transform: rotate(0deg) translate(47.75vh) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translate(47.75vh) rotate(360deg);
    }
}

@keyframes uranus-orbit {
    0% {
        transform: rotate(0deg) translate(40.25vh) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translate(40.25vh) rotate(360deg);
    }
}

@keyframes saturn-orbit {
    0% {
        transform: rotate(0deg) translate(31.5vh) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translate(31.5vh) rotate(360deg);
    }
}

@keyframes jupiter-orbit {
    0% {
        transform: rotate(0deg) translate(22.5vh) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translate(22.5vh) rotate(360deg);
    }
}

@keyframes belt-rotation {
    0% {
        transform: rotate(0deg) translate(0rem) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translate(0rem) rotate(360deg);
    }
}

@keyframes mars-orbit {
    0% {
        transform: rotate(0deg) translate(12.5vh) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translate(12.5vh) rotate(360deg);
    }
}

@keyframes earth-orbit {
    0% {
        transform: rotate(0deg) translate(10vh) rotate(0deg); /* Adjusted from a fixed px to vh */
    }
    100% {
        transform: rotate(360deg) translate(10vh) rotate(360deg);
    }
}

@keyframes venus-orbit {
    0% {
        transform: rotate(0deg) translate(8vh) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translate(8vh) rotate(360deg);
    }
}


@keyframes mercury-orbit {
    0% {
        transform: rotate(0deg) translate(6vh) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translate(6vh) rotate(360deg);
    }
}


@keyframes sun-rotation {
    0% {
        transform: rotate(0deg) translate(0rem) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translate(0rem) rotate(360deg);
    }
}


.info {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: silver;
    flex-direction: column;
    align-items: center;
    min-width: 20vw;
    min-height: 100vh;
    text-align: center;
    font-family: 'Raleway';
    background-color: rgba(0, 0, 0, 0.3); /* Red with 50% opacity */

}

.info a, h1, h2, img, hr {
    color: silver;
    margin: 0.25rem;
}

.info a, h1 {
    font-size: 4.2vh;
    font-weight: 700;
    text-decoration: transparent;
}

.info h2 {
    font-size: 3vh;
    font-weight: 300;
    color: orange;
}

.info hr {
    width: 80%;
}

.info img {
    height: 10rem;
    width: auto;
}

.info a:hover {
    text-decoration: underline;
    text-decoration-color: orange;
    color: orange;
}

